<!DOCTYPE html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Do you want to test your learning before exam then come this Quizwebsite and where you stand.Our website offers a variety of quizzes on different topics, including History, Science, and Mathematics.">
  <meta name="keywords" content="Science Math History">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Quizwebsite</title>
</head>
<body>
 <div class="main">
    
     <div class="headline">
      <h2>Science Mock Test</h2>
      <h3> Total Mark: 30</h3>
    </div>
    
  
      <div class="card">

     <form action="/" method="POST">
     <h2>Register yourself</h2><br>
     <input type="text" name="fname" class="formstyle" placeholder="Write your name" required><br><br>
     <select id="subs" name="cname" class="formstyle" required>
      <option class="formstyle" value=""  >Choose Class</option>  
     <option class="formstyle" value="10" >Class: 10</option>
     <option class="formstyle" value="11" >Class: 11</option>
    
      </select><br><br>
     <button type="submit" value="Start" class="formstyle">Submit</button>

    </form>
    
    </div>
   <div class="fotter">
    <h4 id="fot">&copy; Jetlin karkha:2024</h4>
   </div> 
   
 </div>

</body>

</html>
