<!DOCTYPE html lang="en" >
<head>
  <meta charset="utf-8">

  <meta name="description" content="Do you want to test your learning before exam then come this Quizwebsite and where you stand.Our website offers a variety of quizzes on different topics, including History, Science, and Mathematics.">
  <meta name="keywords" content="Science Math History">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Quizwebsite</title>
</head>
<body>
 <div class="main">
    <div class="upor">
     <div><h2>Science Mock Test</h2>
    </div>
    <div id="mark">Total Marks: 30</div>
  </div>
      <div class="card">

     <form action="/" method="POST">
     <h3 >Register yourself</h3><br>
     <input type="text" name="fname" placeholder="Write your name" required><br><br>
     <select id="subs" name="cname" required>
      <option value="" >Choose Class</option>  
     <option value="10" >Class: 10</option>
    
      </select>
     <input type="submit" value="Start">

    </form>
    <h4 id="fot">&copy;Jetlin karkha:2024</h4>
    </div>
    
   
 </div>

</body>

</html>
