<!DOCTYPE html lang="en">
<head>
    <meta charset="utf-8">
    <title>Result</title>
    <link rel="stylesheet" href="/css/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="maincon">

<div class="card">

    <h4>Result</h4>
    <p>You got<%=mark %> mark in your test</p>
    <p>If you need answer keys click below button otherwise Ok button.</p>
    <a href="/image/Answerkeys.pdf" download="Answerkeys" class="btn">Answer keys</a>
    <a href="/" class="btn">Okay</a><br>
    
</div>



<div class="footer">

 <div class="icon"></div>
<h4 id="fo">&copy;Jetlin karkha:2024</h4>


</div>

</div>
    
</body>
  
</html>